{
  "parser": "wcjohnson-babel-eslint",
	"rules": {
		"linebreak-style": [
			2,
			"unix"
		],
    "no-console": 0,
    "no-unexpected-multiline": 0
	},
  "parserOptions": {
		"sourceType": "module"
	},
  "env": {
    "mocha": true,
    "node": true
  },
	"extends": "eslint:recommended"
}
